.rojo{
	width: 400px;
	height: 400px;
	background-color:red;
	 
}

.morado{
	width: 200px;
	height: 200px;
	background-color:purple;
	position:relative; 
	left: 100px;
	top: 100px;
}	

.amarillo{
	width: 100px;
	height: 100px;
	background-color:yellow;
	position:absolute; 
}

/* boton de indice*/
.indice{
	
	background-color:rgba(248,194,15,0.7);
	box-shadow: 5px 10px 10px 5px;
	width: 160px;
	height: 50px;
	margin: 30px;
	border-radius: 8px;

}

.iconos{
 	display: inline-block;
	margin: 10px;
	text-decoration: none;
}